<h1>Finance Svobodní</h1>
<!--
<h2>Nahlášení nepěněžního plnění</h2>
<%= link_to "Nový dar", new_public_non_monetary_donation_path(), class: "btn btn-default" %>
-->
<h2>Interní systém pro ekonomickou evidenci republiky a krajů.</h2>

<% unless current_user %>
<h2>Prosím, <a href="/auth/registr">přihlašte se</a>.</h2>
<% else %>
<% if [2804,342].member?(current_user['id']) %>
<% @invoices = Invoice.where('created_at > "2016-12-31"').reject{|p| p.payment_remainder == 0} %>
<h2>Nezaplacené faktury</h2>
<table id="invoices" class="table table-striped">
  <thead>
    <tr>
      <th>Datum vložení</th>
      <th>Organizace</th>
      <th>Částka</th>
      <th>K úhradě</th>
      <th>Popis</th>
      <th>Akce</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.reverse.each do |invoice| %>
      <tr>
        <td data-order="<%=invoice.created_at%>">Před <%= time_ago_in_words(invoice.created_at) %></td>
        <td><%= invoice.organization.try(:name) %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.payment_remainder  %></td>
        <td><%= link_to invoice.description.blank? ? "- bez popisu -" : invoice.description, invoice %></td>
        <td><%= link_to("Zaplatit", pay_invoice_path(invoice), class: "btn btn-xs btn-info") if invoice.is_exportable? if can?(:pay, invoice)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div class="row">
  <div class="col-md-6">
    <h3>Období</h3>
    <ul>
      <% @years.each do |year| %>
        <li><%=link_to_unless_current year, dashboard_path(year: year) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Organizace</h3>
    <ul>
      <% @organizations.each do |organization| %>
        <li><%= link_to organization.name, organization %><!--#organization_budget_categories_path(organization, year: Date.today.year) --></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
