<%= simple_form_for(@budget_category, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :organization_id, collection: @organizations.collect {|p| [ p.name, p.id ] }%>
  <%= f.input :year, collection: (2014..2018).to_a.reverse %>
  <%= f.input :name %>
  <%= f.input :amount %>
  <%= f.input :budget_category_type, collection: BudgetCategory.budget_category_types %>
  <%= f.button :submit, "Uložit rozpočtovou kapitolu", class: "btn-primary pull-right" %>
<% end %>
